
* {/* универсальный селектор: обнулили, убрали все отступы */
    margin: 0;/* вертикальный отступы */
    padding: 5px;/* горизонтальные отступы между блоков */
    box-sizing: border-box;/* ширина блока складывается из ширины содержимого */
}

#container {
    width: 100%;/* ширина блока */
    height: 100%;/* высота блока */
    padding-left: 2%;/* Устанавливает значение поля от левого края содержимого элемента */
    padding-right: 8%;/* Устанавливает значение поля от правого края содержимого элемента */
    padding-top: 1%;/* Устанавливает значение поля от верхнего края содержимого элемента */
    background: #d8e6d2;/* цвет блока */
}

#container .logo {
    background: orange;
    border-radius: 50%;/* Устанавливает радиус скругления уголков рамки */
    padding: 5px;/* значение полей вокруг содержимого элемента: в этом случае толщина скругления */
    cursor: pointer;/* Устанавливает форму курсора, когда он находится в пределах элемента */
}

.navbar {
    display: flex;/* как элемент должен быть показан в документе: по правую сторону от изображения */
    justify-content: space-between;/* Флексы равномерно распределяются по всей строке. Первый и последний элемент прижимаются к соответствующим краям контейнера */
    align-items: center;/* выравниваются по линии поперечной оси */
    /* flex-direction: row-reverse; *//* меняются местами начальная и конечная точки и главная ось направлена справа налево */
}

.navbar ul {
    list-style: none;/* стиль маркера (точки, галочки) убираем */
}

.navbar ul li {
    display: inline-block;/* как элемент должен быть показан в документе: строчка */
    padding: 20px;/* значение полей вокруг содержимого элемента: в этом случае растояние между словами */
}

.navbar ul li a {
    text-decoration: none;/* оформление текста: убрал подчёркивание */
    font-size: 25px;/* размер шрифта элемента */
    color: rgb(7, 83, 11);/* цвет текста */
    background: linear-gradient(orange 0 0) bottom /var(--t, 0) 2px no-repeat;/* задал эффект: линия, её цвет */
    transition: .5s;/* задержка в появлении линии */
}

.navbar ul li a:hover {/* появление линии */
    --t: 100%;
}

aside {
    float: left;/*  положение блока */
    padding: 10px;/*  сдвинуть от угла */
    margin-left: 50px;/*  сдвинуть от левого края */
    background: #d1eec5;/*  цвет блока */
    /* margin-top: 5px; *//*  сдвинуть от верха */
    /* width: 500px; *//*  ширина блока */
}

.darling {
    color: blue;
    text-align: center;/*  выравнять текст по центру */
    font-family:cursive;/*  курсивные шрифт */
    font-size: 50pt;/*  размер шрифта */
}

.fate {
    color: rgb(29, 16, 212);
    font-size: 23pt;/*  размер шрифта */
    text-align: center;/*  выравнять текст по центру */
}

.backgr {
    width: 100%;/*  ширина блока */
    max-width: 1300px;/*  максимальная ширина блока */
    position: relative;/*  положение элемента относительно его исходного места */
    margin: 0 auto;/*  сдвигает элемент */
}

#background {
    background-repeat: no-repeat;/*  фон не повторяется */
    background-position: center center;/*  центр по центру */
    background-size: cover;/*  фон занимает всю доступную площадь */
    background-attachment: scroll;/*  фон перемещается вместе с содержимым */
    /* margin: 0 auto; *//*  отступ вокруг блока/фона */
}

#pic {
    float: left;/*  обтекание фотографии текстом */
    margin-left: 70px;/*  сдвинуть от левого края */
}

#text {
    margin-left: 800px;/*  отступ текста от левого края */
}

figure {
    text-align: center;
}

main #maps {
    padding: 0;/* отступ слева всей карты */
}

section {/*  элемент является единым и расчёты будут исходить от его границ */
    position: relative;
    display: table;
    width: 100%;
}

main #maps .block-title {
    position: absolute;/*  элемент позиционирован */
    padding: 10px;/*  ширина рамки */
    color: #000;/*  цвет текста */
    box-shadow: 10px 3px 20px 10px rgba(236, 37, 37, 0.911);/*  тень */
    background: #ebc5c5;/*  цвет рамки */
    font-size: 17px;/*  размер текста */
    /* outline: auto; *//*  оконтовка рамки */
    top: 50px;/*  отступ сверху */
    margin-left: 500px;/*  отступ слева */
}

main section .block-title {
    text-transform: uppercase;/*  все символы текста становятся прописными */
    font-weight: 700;/*  насыщенность шрифта */
    /* margin-bottom: 20px *//*  отступ снизу */
}

.w_70 inline content {
    min-height: 1px;/*  расстояние между элементами */
}

.inline {
    display: inline-block;/*  генерирует блочный элемент, который обтекается другими элементами веб-страницы */
    /* float: left; *//*  выравнивает элемент по левому краю, а все остальные элементы, вроде текста, обтекают его по правой стороне */
}

body {
    font-family: 'Roboto', sans-serif;/*  Roboto - это свой шрифт, sans-serif - стандартный шрифт */
    font-size: 15px;/*  размер шрифта */
    color: #5b5b5b;/*  покрасил весь текст в серый, за исключением ужё окрашенных */
    /* background: #fffefc; */
}

footer {
    padding: 50px 0;/*  устанавливает значение полей вокруг содержимого элемента */
    background: #424241;/*  цвет фона */
}

footer #footer .title {
    color: #fff;/*  цвет текста */
    text-transform: uppercase;/*  все символы текста становятся прописными (верхний регистр) */
    font-weight: bold;/*  насыщенность шрифта: полужирный */
    font-size: 24px;/*  размер шрифта */
    margin-bottom: 15px;/*  отступ снизу */
    margin-left: 100px;/*  отступ слева */
}

footer #footer .text {
    line-height: 2.3;/*  растояние между строками */
    margin-left: 100px;/*  отступ слева */
}

.row {
    width: 100%;/*  ширина блока */
    display: table;/*  как элемент должен быть показан в документе: элемент является блочной таблицей */
    position: relative;/*  способ позиционирования элемента относительно окна браузера или других объектов: элемент устанавливается относительно его исходного места */
}

div {
    display: block;/*  перенос строк в начале и в конце содержимого */
}

footer #footer .text span {
    display: block;/*  перенос строк в начале и в конце содержимого */
    color: #f8f6f6;/*  цвет текста */
}


